* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body { font-family: "Inter", sans-serif;}

/* Header */

nav {
    background-color: #232a31;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

nav img {
    width: 50px;
}

.navbar {
    margin-left: auto;
    display: flex;
    gap: 24px;
    align-items: center;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: all .4s;
}

a:hover {
    color: #ccc;
}

.nav-btn {
    border: 2px solid #2cc76a;
    padding: 12px 16px;
    border-radius: 6px;
    background-color: #2cc76a;
}

.nav-btn:hover {
    color: #2cc76a;
    background-color: #fff;
}

/* main */

.section-1 {
    padding: 10rem 0;
    background-image: url("img/mainbanner.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.section-1 h1 {
    font-size: 54px;
}

.section-1 p {
    font-size: 32px;
}

.title-description {
    position: relative;
    top: 35%;
    bottom: 35%;
    text-align: center;
    text-shadow: #000 3px 3px 3px;
    font-weight: bold;
}

.section-2,
.section-3 {
    margin-top: 80px;
    text-align: center;
    padding: 0 120px;
    color: #70747a;
    line-height: 1.4;
}

li img {
    width: 60px;
}

li {
    list-style: none;
    width: 500px;
    margin: 0 auto;
}

ul {
    display: flex;
}

.benefit-title {
    color: #333;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

/* section  3 */

.section-3 {
    padding: 0;
}

.section-3 h2 {
    margin-top: 80px;
    color: #333;
    font-size: 36px;
}

.section-3 p {
    font-size: 18px;
}

.plans-table {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    max-width: 100vw;
}

.plan-price,
.plan-price-plus {
    color: #fff;
    background-color: #2cc76a;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.plan-price-plus {
    background-color: #f45c57;
}

.plan-price p,
.plan-price-plus p {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

.plan-name {
    background-color: #232a31;
    width: 300px;
    display: flex;
    align-items: end;
    margin: 0 auto;
    height: 100px;
}

.plan-name p {
    text-align: center;
    margin: 0 auto 10px auto;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.plan-description {
    background-color: #e8e9ea;
    color: #333;
    font-weight: 400;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
    padding: 16px;
}

.plan-footer,
.plan-footer-plus {
    background-color: #2cc76a;
    width: 300px;
    margin: 0 auto;
    padding: 16px;
}

.plan-footer-plus {
    background-color: #f45c57;
}

.plan-footer a,
.plan-footer-plus a {
    font-size: 20px;
}

/* section 4 */

.section-4 {
    background-color: #35444e;
    margin-top: 80px;
    padding: 80px;
    color: #fff;
    text-align: center;
}

.section-4 h2 {
    font-size: 36px;
}

.section-4 p {
    color: #d5d5d5;
    font-size: 20px;
    margin-top: 16px;
}

.section-4 input {
    width: 60%;
    padding: 20px 16px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    margin: 16px 0;
}

.section-4 .submit-btn {
    width: 200px;
    padding: 16px;
    background-color: #2cc76a;
    color: #d5d5d5;
}

.section-4 .submit-btn:hover {
    color: #fff;
    cursor: pointer;
}

/* section 5 */

.section-5 {
    padding: 80px;
    text-align: center;
}

.section-5 h2 {
    font-size: 36px;
    color: #333;
}

.section-5 p {
    font-size: 20px;
    color: #70747a;
    margin: 16px auto;
}

.section-5 form {
    margin-top: 36px;
}

.section-5 input {
    margin: 24px 12px;
    width: 200px;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.section-5 textarea {
    width: 500px;
    height: 150px;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section-5 .submit-btn {
    width: 200px;
    background-color: #2cc76a;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    color: #70747a;
    text-align: center;
    font-weight: bold;
    padding-bottom: 200px;
}

/* Responsividade */

@media screen and (max-width: 600px) {
    header,
    main,
    footer {
        width: 100vw;
        margin: 0;
    }

    nav {
        padding: 16px;
    }

    .navbar,
    .navbar a {
        font-size: 14px;
        margin: 0 auto;
    }

    .navbar {
        width: 100%;
        gap: 0px;
    }

    header img {
        width: 40px;
    }

    .navbar .nav-btn {
        padding: 6px 8px;
    }

    .title-description {
        padding: 4px;
    }

    .title-description p {
        font-size: 24px;
    }

    .section-2 {
        padding: 0;
    }

    .section-2 li {
        margin-top: 24px;
    }

    .section-2 ul {
        flex-direction: column;
    }

    .plans-table {
        flex-direction: column;
    }

    .section-4 input[type="text"] {
        font-size: 10px;
    }

    .section-5 textarea {
        width: 70vw;
    }

    li {
        width: 80vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    header,
    main,
    footer {
        width: 100vw;
        margin: 0;
    }

    nav {
        padding: 16px 100px;
    }

    .navbar a {
        margin: 12px;
        margin-left: auto;
    }

    .navbar {
        width: 100%;
    }

    .title-description {
        padding: 4px;
    }

    .title-description p {
        font-size: 24px;
    }

    .section-2,
    .section-3 {
        padding: 0;
    }

    .section-2 ul{
        flex-direction: column;
    }

    .section-2 li {
        margin-top: 24px;
    }

    .section-2 p {
        font-size: 20px;
    }

    .section-2 .benefit-title {
        font-size: 22px;
    }

    .section-5 textarea {
        width: 70vw;
    }

    li {
        width: 80vw;
    }

    .plans-table {
        flex-direction: column;
    }
}

@media screen and (max-width: 1280px) {
    .plans-table {
        flex-direction: column;
    }
}
